body{
    background: white;
  align-items: center;
  margin: 0;
}
.a4-sheet {
    width: 210mm;
    min-height: 297mm;
    margin: 20px auto;
    padding: 20mm;
    background: white;

h1{
    background-color:#716e6e;
    align-items: center;
    text-align: center;
    border-bottom-style:solid;
}
h2{ 
    background-color:grey;
    align-items: center;
    text-align: center;
}
p{
    text-align:justify;
}
li{
    text-align: justify;
}
ul {
    padding-left: 20px;
}

/* Print-specific styling */
@media print {
    body {
        background: white;
    }
        .a4-sheet {
        box-shadow: none;
        margin: 0;
    }

    @page {
        size: A4;
        margin: 20mm;
    }
}
